In [58]:
import tensorflow as tf
import numpy as np
from random import shuffle
from tensorflow.keras.datasets import cifar10
from tensorflow.keras.preprocessing.image import ImageDataGenerator
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, Activation, Flatten
from tensorflow.keras.optimizers import Adam
from tensorflow.keras import regularizers
from matplotlib import pyplot as plt
from tensorflow.keras.optimizers import SGD
import matplotlib.image as mpimg
import time
from tensorflow.keras.utils import plot_model
import random
from datetime import datetime
from datetime import date
from random import randint
from tensorflow.keras.callbacks import TensorBoard
import pandas as pd
from PIL import Image
from tensorflow.keras.layers import Dense, Flatten, Conv2D, Dropout, MaxPooling2D, Input, BatchNormalization, MaxPool2D
import csv
import os
from progressbar import *
from plotly import tools
%matplotlib inline 
import plotly.graph_objs as go
import plotly.figure_factory as ff
import plotly
from sklearn.model_selection import train_test_split
from plotly import tools
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
from tensorflow.keras.preprocessing.image import ImageDataGenerator, img_to_array, array_to_img, load_img
import warnings
warnings.filterwarnings('ignore')

In [144]:
df_samples = pd.read_csv("data/train.csv")

In [145]:
df_samples['image_id'] = pd.Series([img+'.jpg' for img in df_samples.image_id if '.jpg' not in img])
df_samples.head(4)

      image_id  healthy  multiple_diseases  rust  scab
0  Train_0.jpg        0                  0     0     1
1  Train_1.jpg        0                  1     0     0
2  Train_2.jpg        1                  0     0     0
3  Train_3.jpg        0                  0     1     0

In [22]:
df_train, df_valid = train_test_split(df_samples, test_size=0.24, random_state=10)
print(len(df_train), len(df_valid))

1383 438

In [23]:
def read_image(sample_path:str, resize_to=False) -> np.ndarray:
 
        
    im = Image.open(sample_path)
    if resize_to:
        im = im.resize(resize_to)
    im = np.array(im) / 255.0
    im = im.astype("float32")

    return im

In [24]:
def reshape_input(img: np.ndarray) -> np.ndarray:
    
    img.reshape(img.shape[0] * img.shape[1] * img.shape[2]) #
    return img

In [49]:
def load_data(df, resize_to=(512,512), train=True):
    array_images = []
    pbar = ProgressBar()
    if train:
        array_labels = []
        for idx, img in pbar(enumerate(df.image_id)):

            array_images.append(reshape_input(read_image('data/images/'+img, resize_to=resize_to)))
            array_labels.append(list(df.iloc[idx][1:]))

        return np.array(array_images), np.array(array_labels)
    
    for idx, img in pbar(enumerate(df.image_id)):

        array_images.append(reshape_input(read_image('data/images/'+img, resize_to=resize_to))) 
    
    return np.array(array_images)

x_train, y_train = load_data(df_train)
x_valid, y_valid = load_data(df_valid)

| |                    #                           | 1382 Elapsed Time: 0:00:50
| |    #                                            | 437 Elapsed Time: 0:00:20

In [52]:
# import skimage

In [ ]:
# for category in os.listdir(TRAIN_PATH):
#     if len(os.listdir(TRAIN_PATH+category)) < 10:
#         cnt += 1
#         open_dir = (os.listdir(TRAIN_PATH+category))
#         print(category)
#         for image in open_dir:
#             try:
#                 img = load_img(TRAIN_PATH+str(category)+'/'+image)
#                 x = img_to_array(img)
#                 x = x.reshape((1,) + x.shape)
#                 i = 0
#                 for batch in image_gen.flow(x, batch_size=1, save_to_dir=TRAIN_PATH+str(category)+'/', save_prefix='datagen', save_format="jpg"):
#                     i+=1
#                     if i > 10:
#                         break
#             except Exception as e:
#                 print("image caused error => " % image)
#                 break
# print("Nombre de categroye avec moins 10 images %s" % (cnt))

In [76]:
image_gen = ImageDataGenerator(width_shift_range=.3, height_shift_range=.2, shear_range=.2, zoom_range=0.2, rescale=.2)

In [127]:
pbar = ProgressBar()
nb_samples = 0
for idx, img in pbar(enumerate(df_samples.image_id)):
    if nb_samples > 400:
        break
    image = load_img(str('data/images/'+img))
    x = img_to_array(image)
    x = x.reshape((1,) + x.shape)
    i = 0
    if np.argmax(list(df_samples.iloc[idx][1:])) == 0:
        for batch in image_gen.flow(x, batch_size=1, save_to_dir='data/images/datagen/', save_prefix='datagen_'+str(np.argmax(list(df_samples.iloc[idx][1:]))), save_format="jpg"):
            i+=1
            nb_samples+=1
            if i > 10:
                break

/ |                            #                    | 152 Elapsed Time: 0:05:40

In [83]:
for img_data_gen in os.listdir('data/images/datagen/'):
    if 'datagen_' in img_data_gen:
        os.remove('data/images/datagen/'+img_data_gen)
        print('file_removed :'+img_data_gen)

file_removed :datagen_3_0_1053.jpg
file_removed :datagen_3_0_1100.jpg
file_removed :datagen_3_0_1176.jpg
file_removed :datagen_3_0_1361.jpg
file_removed :datagen_3_0_1363.jpg
file_removed :datagen_3_0_1536.jpg
file_removed :datagen_3_0_1905.jpg
file_removed :datagen_3_0_2014.jpg
file_removed :datagen_3_0_2267.jpg
file_removed :datagen_3_0_2405.jpg
file_removed :datagen_3_0_2490.jpg
file_removed :datagen_3_0_2491.jpg
file_removed :datagen_3_0_2619.jpg
file_removed :datagen_3_0_285.jpg
file_removed :datagen_3_0_3125.jpg
file_removed :datagen_3_0_3148.jpg
file_removed :datagen_3_0_3225.jpg
file_removed :datagen_3_0_3600.jpg
file_removed :datagen_3_0_3723.jpg
file_removed :datagen_3_0_384.jpg
file_removed :datagen_3_0_3966.jpg
file_removed :datagen_3_0_4138.jpg
file_removed :datagen_3_0_4183.jpg
file_removed :datagen_3_0_4300.jpg
file_removed :datagen_3_0_4403.jpg
file_removed :datagen_3_0_4593.jpg
file_removed :datagen_3_0_4621.jpg
file_removed :datagen_3_0_5105.jpg
file_removed :datagen_3_0_5218.jpg
file_removed :datagen_3_0_5667.jpg
file_removed :datagen_3_0_586.jpg
file_removed :datagen_3_0_5928.jpg
file_removed :datagen_3_0_5970.jpg
file_removed :datagen_3_0_6128.jpg
file_removed :datagen_3_0_6307.jpg
file_removed :datagen_3_0_646.jpg
file_removed :datagen_3_0_685.jpg
file_removed :datagen_3_0_6965.jpg
file_removed :datagen_3_0_6967.jpg
file_removed :datagen_3_0_7040.jpg
file_removed :datagen_3_0_7384.jpg
file_removed :datagen_3_0_7405.jpg
file_removed :datagen_3_0_7571.jpg
file_removed :datagen_3_0_8444.jpg
file_removed :datagen_3_0_8516.jpg
file_removed :datagen_3_0_8577.jpg
file_removed :datagen_3_0_8587.jpg
file_removed :datagen_3_0_8694.jpg
file_removed :datagen_3_0_9069.jpg
file_removed :datagen_3_0_9217.jpg
file_removed :datagen_3_0_9547.jpg
file_removed :datagen_3_0_9871.jpg
file_removed :datagen_3_0_9945.jpg

In [100]:
df = pd.DataFrame(columns=['lib', 'qty1', 'qty2', 'qty3', 'qty4'])
for i, img in enumerate(os.listdir('data/images/datagen/')):
    df.loc[i] = [str(img)] + list([0,0,0,1])

In [101]:
df.head(4)

                    lib qty1 qty2 qty3 qty4
0     datagen_3_0_0.jpg    0    0    0    1
1     datagen_3_0_1.jpg    0    0    0    1
2    datagen_3_0_10.jpg    0    0    0    1
3  datagen_3_0_1002.jpg    0    0    0    1

In [151]:
l1 = 0
l2 = 0
l3 = 0
l4 = 0
for i, img in enumerate(df_samples.image_id):
    if np.argmax(list(df_samples.iloc[i][1:])) == 3:
        l4 += 1
    elif np.argmax(list(df_samples.iloc[i][1:])) == 2:
        l3 += 1
    elif np.argmax(list(df_samples.iloc[i][1:])) == 1:
        l2 += 1
    elif np.argmax(list(df_samples.iloc[i][1:])) == 0:
        l1 += 1

In [153]:
print('[%s len => %s] - [%s len => %s] - [%s len => %s] - [%s len => %s]' % (df_samples.columns[1], l1, df_samples.columns[2],l2,df_samples.columns[3],l3,df_samples.columns[4],l4))

[healthy len => 915] - [multiple_diseases len => 1039] - [rust len => 1144] - [scab len => 1145]

In [107]:
df_samples.columns

Index(['image_id', 'healthy', 'multiple_diseases', 'rust', 'scab'], dtype='object')

In [139]:
l1 = 0
l2 = 0
l3 = 0
l4 = 0
count = 0
for img in os.listdir('data/images/datagen/'):
    
    if 'datagen_3' in img:
        l4 += 1
    elif 'datagen_2' in img:
        l3 += 1
    elif 'datagen_1' in img:
        l2 += 1
    elif 'datagen_0' in img:
        l1 += 1

In [140]:
print('[%s len => %s] - [%s len => %s] - [%s len => %s] - [%s len => %s]' % (df_samples.columns[0], l1, df_samples.columns[1],l2,df_samples.columns[2],l3,df_samples.columns[3],l4))

[image_id len => 399] - [healthy len => 948] - [multiple_diseases len => 522] - [rust len => 553]

In [130]:
df_samples.head(4)

      image_id  healthy  multiple_diseases  rust  scab
0  Train_0.jpg        0                  0     0     1
1  Train_1.jpg        0                  1     0     0
2  Train_2.jpg        1                  0     0     0
3  Train_3.jpg        0                  0     1     0

In [147]:
for idx, img in enumerate(os.listdir('data/images/datagen')):
 
    if 'datagen_3' in img:
        df_samples.loc[len(df_samples)] = [str(img)] + [0, 0, 0, 1]
    elif 'datagen_2' in img:
        df_samples.loc[len(df_samples)] = [str(img)] + [0, 0, 1, 0]
    elif 'datagen_1' in img:
        df_samples.loc[len(df_samples)] = [str(img)] + [0, 1, 0, 0]
    elif 'datagen_0' in img:
        df_samples.loc[len(df_samples)] = [str(img)] + [1, 0, 0, 0]

In [148]:
df_samples.iloc[len(df_samples)-1]

image_id             datagen_3_0_9998.jpg
healthy                                 0
multiple_diseases                       0
rust                                    0
scab                                    1
Name: 4242, dtype: object

In [150]:
# len(df_samples)

4243

In [157]:
df_samples.to_csv('new_train.csv', index=False)

In [158]:
df = pd.read_csv('new_train.csv')

In [160]:
df.sample(n=4)

                  image_id  healthy  multiple_diseases  rust  scab
3629  datagen_2_0_9383.jpg        0                  0     1     0
1365        Train_1365.jpg        0                  0     1     0
2613  datagen_1_0_4831.jpg        0                  1     0     0
3792  datagen_3_0_9106.jpg        0                  0     0     1

In [161]:
len(df)

4243

In [162]:
l1 = 0
l2 = 0
l3 = 0
l4 = 0
for i, img in enumerate(df.image_id):
    if np.argmax(list(df.iloc[i][1:])) == 3:
        l4 += 1
    elif np.argmax(list(df.iloc[i][1:])) == 2:
        l3 += 1
    elif np.argmax(list(df.iloc[i][1:])) == 1:
        l2 += 1
    elif np.argmax(list(df.iloc[i][1:])) == 0:
        l1 += 1

In [163]:
print('[%s len => %s] - [%s len => %s] - [%s len => %s] - [%s len => %s]' % (df_samples.columns[0], l1, df_samples.columns[1],l2,df_samples.columns[2],l3,df_samples.columns[3],l4))

[image_id len => 915] - [healthy len => 1039] - [multiple_diseases len => 1144] - [rust len => 1145]